<script type="text/javascript">
    $(document).ready(function(){
    $('#fade').cycle();
    });
  </script>
    <div id="fade">
      <img src="/images/b1.jpg" class="theme"/>
      <img src="/images/b2.jpg" class="theme"/>
      <img src="/images/b3.jpg" class="theme"/>
      <img src="/images/b4.jpg" class="theme"/>
      <img src="/images/b5.jpg" class="theme"/>
      <img src="/images/b6.jpg" class="theme"/>
      <img src="/images/b7.jpg" class="theme"/>
      <img src="/images/b8.jpg" class="theme"/>
    </div>
<ul class="calendar_form">
  <p>
    <%= link_to 'Create Deliver', 'javascript:void()', id: 'new_event' %>
  </p>
  <div>
    <div class='calendar'></div>
  </div>
  <div id="event_desc_dialog" class="dialog" style="display:none;"></div>
  <div id="create_event_dialog" class="dialog" style ="display:none;">
    <%= render 'form' %>
  </div>

  <script>
    $(document).ready(function(){
      $('.calendar').fullCalendar(full_calendar_options);
      $('#new_event').click(function(event) {
        FullcalendarEngine.Form.display()
        event.preventDefault();
      });
    });
  </script>
</ul>